* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    border: 2px dashed black;
    margin: 0 auto;
    width: 512px;
}

header {
    border-bottom: 3px solid black;
    padding: 10px 15px;
}

.box {
    min-height: 200px;
    width: 400px;
    border: 3px solid black;
    margin: 20px auto;
    
}